.Main-Container {
  display: flex;
  justify-content: space-around;
}

.Main-Img {
  margin: 50px auto;
}

.Main-Img img {
  border: 1px solid transparent;
  border-radius: 40px;
  width: 400px;
  height: 400px;
}

.Main-Description {
  justify-content: center;
  width: 40%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

.Main-Description h1 {
  font-size: 50px;
  font-weight: bold;
}

.Main-Description h2 {
  font-size: 14px;
  font-weight: 500;
}

.Main-Buttons button {
  justify-content: center;
  margin: 30px 15px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #1c415c;
  color: white;
  font-size: 18px;
}

.Main-Icons {
  padding: 20px;
  justify-content: center;
}

.Main-Icons img {
  height: 70px;
  width: 70px;
  margin: 10px;
}

.projects-container>h3 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 28px;
  font-weight: 700;
}

.projects-container--carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 15px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-button {
  font-size: 20px;
  height: 80px;
  width: 150px;
  background-color: #1c415c;
  border: none;
  border-radius: 30px;
}

.Main-Buttons button:hover {
  background-color: #163154;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Main-Icons img:hover {
  transform: scale(1.2);
}

.contact-button:hover {
  transform: scale(1.05);
  background-color: #163154;
  color: white;
  cursor: pointer;
}