.Main-Container {
  display: flex;
  justify-content: center;
}

.Main-Img {
  margin: 25px auto;
}

.Main-Img img {
  border: 1px solid transparent;
  border-radius: 15px;
  width: 400px;
  height: 90%;
}

.Main-Description {
  justify-content: center;
  width: 40%;
  padding: 5px;
  margin: 20px auto;
  text-align: center;
}

.Main-Description h1 {
  font-size: 50px;
  font-weight: bold;
}

.Main-Description h2 {
  font-size: 14px;
  font-weight: 500;
}

.Main-Buttons button {
  justify-content: center;
  margin: 30px 15px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #1c415c;
  color: white;
  font-size: 18px;
}

.Main-Buttons button:hover {
  background-color: #163154;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.Main-Icons {
  padding: 20px;
  justify-content: center;
}

.Main-Icons img{
  height: 70px;
  width: 70px;
  margin: 10px;
  filter: grayscale(100%);
}

.Main-Icons img:hover {
  filter: grayscale(0%);
}