.card-container{
  display: flex;
}

.cards {
  padding: 10px;
}

.name {
  font-size: 18px;
}

.cards > p {
  font-size: smaller;
  text-align: start;
}

.projects-slider {
  justify-content: center;
}

.projects-slider img {
  width: 300px;
}

.projects-slider > button {
 margin-top: 40px;
 height: 35px;
 border: transparent;
 border-radius: 10px;
 background-color: #112e42;
}

.button-tech > button {
  margin: 5px;
}
